<section id="about-me" class="section-paddings">
    <div class="introdution-container container">
        <h2 class="visually-hidden">About me</h2>
        <div class="introdution">
            <div class="text-wrapper">
                <p class="big-text-with-spans">I work with people all over the world to create impressive and <span
                        class="accent-text">functional</span> <span class="grey-span">websites</span>
                    that reflect each client's unique
                    personality.</p>
            </div>

            <picture class="mans-picture">
                <!-- <source media="(min-width:1440px)"
                    srcset="./img/desktop.jpg 1x, ./img/desktop@2x.jpg 2x"> -->

                <source media="(min-width:768px)"
                    srcset="./img/about-me/tablet.jpg 1x, ./img/about-me/tablet@2x.jpg 2x">

                <img srcset="../img/about-me/pho.jpg"
                src="../img/about-me/phone.jpg" alt="portrait picture of the man">
            </picture>
        </div>

        <!-- srcset="../images/image@2x.jpg" -->

        <ul class="scroll-to-read">
            <li class="scroll-accordion-item">
                <div class="accordion-container">
                    <p class="scroll-sections-name">ABOUT ME</p>
                    <button class="scroll-button">
                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1.5L6 6.5L1 1.5" stroke="#FAFAFA" stroke-width="2" />
                        </svg>
                    </button>
                </div>

                <div class="ac-panel margin">
                    <p class="el-name text-paddings">I am Lloyd Jefferson, a talented programmer with extensive
                        expertise in software
                        development. I have an
                        understanding of
                        different programming languages ​​and technologies, always ready to improve my skills. I always
                        follow
                        the latest trends
                        and look for unconventional, creative solutions to problems. I have a high level of analytical
                        skills
                        and am able to
                        effectively solve even the most difficult tasks encountered on the way.</p>
                    <p class="el-name">Able to work both independently and in a team. I can effectively cooperate with
                        colleagues,
                        exchanging
                        ideas and finding
                        optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
                        situations, while
                        maintaining a high quality of work.
                        I am always looking for opportunities for self-improvement. I actively study new
                        technologies and practices to stay abreast of the latest innovations. I have a strong
                        understanding of
                        various
                        programming languages, frameworks and architectural concepts that allow me to create efficient
                        and
                        scalable software.</p>
                </div>
            </li>
            <li class="scroll-accordion-item">
                <div class="accordion-container">
                    <p class="scroll-sections-name">ROLE</p>
                    <button class="scroll-button">
                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1.5L6 6.5L1 1.5" stroke="#FAFAFA" stroke-width="2" />
                        </svg>
                    </button>
                </div>
                <ul class="list-of-elements margin ac-panel">
                    <li class="el-name">
                        <p>Frontend development</p>
                    </li>
                    <li class="el-name">
                        <p>HeadlessCMS,Wordpress</p>
                    </li>
                    <li class="el-name">
                        <p>Blender(enjoy)</p>
                    </li>
                </ul>
            </li>
            <li class="scroll-accordion-item">
                <div class="accordion-container">
                    <p class="scroll-sections-name">EDUCATION</p>
                    <button class="scroll-button">
                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1.5L6 6.5L1 1.5" stroke="#FAFAFA" stroke-width="2" />
                        </svg>
                    </button>
                </div>
                <ul class="list-of-elements margin ac-panel">
                    <li class="el-name">
                        <p>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
                    </li>
                    <li class="el-name">
                        <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
                    </li>
                    <li class="el-name">
                        <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="swapper-of-skills">
            <ul class="hard-skills">
                <li class="skill-wrap accent-color">
                    <p class="skill-name">HTML/CSS</p>
                </li>
                <li class="skill-wrap">
                    <p class="skill-name">JavaScript</p>
                </li>
                <li class="skill-wrap">
                    <p class="skill-name">React</p>
                </li>
                <li class="skill-wrap">
                    <p class="skill-name">Node. js</p>
                </li>
                <li class="skill-wrap">
                    <p class="skill-name">React Native</p>
                </li>
                <li class="skill-wrap">
                    <p class="skill-name">Soft skills</p>
                </li>
            </ul>
            <button class="skills-swiper-button-next">
                <svg width="28" height="28">
                    <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>