<section class="covers-section section-paddings">
  <h2 class="visually-hidden">Our Projects</h2>
  <div class="content">
    <div class="marquee" id="covers">
        <ul class="marquee__inner">
          <li class="marquee__line">
            <picture>
              <source
                srcset="/img/covers/first_screen_1_2x.png 2x, /img/covers/first_screen_1.png 1x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="/img/covers/first_screen_1_2x.png 2x, /img/covers/first_screen_1.png 1x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/covers/first_screen_1_2x.png 2x, /img/covers/first_screen_1.png 1x"
                media="(min-width: 320px)"
              />
              <img
                src="/img/covers/first_screen_1.png"
                alt="transforming"
                width=""
                height=""
              />
            </picture>
          </li>
          <li class="marquee__line">
            <picture>
              <source
                srcset="/img/covers/rectangle_4_2x.png 2x, /img/covers/rectangle_4.png 1x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="/img/covers/rectangle_4_2x.png 2x, /img/covers/rectangle_4.png 1x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/covers/rectangle_4_2x.png 2x, /img/covers/rectangle_4.png 1x"
                media="(min-width: 320px)"
              />
              <img
                src="/img/covers/rectangle_4.png"
                alt="traditional"
                width=""
                height=""
              />
            </picture>
          </li>
          <li class="marquee__line">
            <picture>
              <source
                srcset="/img/covers/rectangle_5_2x.png 2x, /img/covers/rectangle_5.png 1x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="/img/covers/rectangle_5_2x.png 2x, /img/covers/rectangle_5.png 1x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/covers/rectangle_5_2x.png 2x, /img/covers/rectangle_5.png 1x"
                media="(min-width: 320px)"
              />
              <img
                src="/img/covers/rectangle_5.png"
                alt="manage"
                width=""
                height=""
              />
            </picture>
          </li>
          <li class="marquee__line">
            <picture>
              <source
                srcset="/img/covers/rectangle_6_2x.png 2x, /img/covers/rectangle_6.png 1x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="/img/covers/rectangle_6_2x.png 2x, /img/covers/rectangle_6.png 1x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/covers/rectangle_6_2x.png 2x, /img/covers/rectangle_6.png 1x"
                media="(min-width: 320px)"
              />
              <img
                src="/img/covers/rectangle_6.png"
                alt="manage"
                width=""
                height=""
              />
            </picture>
          </li>
          <li class="marquee__line">
            <picture>
              <source
                srcset="/img/covers/rectangle_7_2x.png 2x, /img/covers/rectangle_7.png 1x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="/img/covers/rectangle_7_2x.png 2x, /img/covers/rectangle_7.png 1x"
                media="(min-width: 768px)"
              />
              <source
                srcset="/img/covers/rectangle_7_2x.png 2x, /img/covers/rectangle_7.png 1x"
                media="(min-width: 320px)"
              />
              <img
                src="/img/covers/rectangle_7.png"
                alt="body"
                width=""
                height=""
              />
            </picture>
          </li>
        </ul>
        <ul class="marquee__inner">
        <li class="marquee__line">
          <picture>
            <source
              srcset="/img/covers/rectangle_8_2x.png 2x, /img/covers/rectangle_8.png 1x"
              media="(min-width: 1158px)"
            />
            <source
              srcset="/img/covers/rectangle_8_2x.png 2x, /img/covers/rectangle_8.png 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/rectangle_8_2x.png 2x, /img/covers/rectangle_8.png 1x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/covers/rectangle_8.png"
              alt="body"
              width=""
              height=""
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="/img/covers/rectangle_9_2x.png 2x, /img/covers/rectangle_9.png 1x"
              media="(min-width: 1158px)"
            />
            <source
              srcset="/img/covers/rectangle_9_2x.png 2x, /img/covers/rectangle_9.png 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/rectangle_9_2x.png 2x, /img/covers/rectangle_9.png 1x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/covers/rectangle_9.png"
              alt="body"
              width=""
              height=""
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="/img/covers/rectangle_10_2x.png 2x, /img/covers/rectangle_10.png 1x"
              media="(min-width: 1158px)"
            />
            <source
              srcset="/img/covers/rectangle_10_2x.png 2x, /img/covers/rectangle_10.png 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/rectangle_10_2x.png 2x, /img/covers/rectangle_10.png 1x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/covers/rectangle_10.png"
              alt="body"
              width=""
              height=""
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="/img/covers/rectangle_11_2x.png 2x, /img/covers/rectangle_11.png 1x"
              media="(min-width: 1158px)"
            />
            <source
              srcset="/img/covers/rectangle_11_2x.png 2x, /img/covers/rectangle_11.png 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/rectangle_11_2x.png 2x, /img/covers/rectangle_11.png 1x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/covers/rectangle_11.png"
              alt="body"
              width=""
              height=""
            />
          </picture>
        </li>
        <li class="marquee__line">
          <picture>
            <source
              srcset="/img/covers/rectangle_12_2x.png 2x, /img/covers/rectangle_12.png 1x"
              media="(min-width: 1158px)"
            />
            <source
              srcset="/img/covers/rectangle_12_2x.png 2x, /img/covers/rectangle_12.png 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/rectangle_12_2x.png 2x, /img/covers/rectangle_12.png 1x"
              media="(min-width: 320px)"
            />
            <img
              src="/img/covers/rectangle_12.png"
              alt="body"
              width=""
              height=""
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
