<section class="covers-section">
  <h2 class="visually-hidden">Our Projects</h2>
  <div class="content">
    <div class="marquee" id="covers">
      <div class="marquee__inner">
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./img/transforming-2x.jpg 2x,
                ./img/transforming-1x.jpg 1x
              "
              media="(min-width: 1158px)"
            />

            <source
              srcset="
                ./img/transforming-2x.jpg 2x,
                ./img/transforming-1x.jpg 1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/transforming-2x.jpg 2x,
                ../img/transforming-1x.jpg 1x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/transforming-1x.jpg"
              alt="transforming"
              width=""
              height=""
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ../img/traditional-2x.jpg 2x,
                ../img/traditional-1x.jpg 1x
              "
              media="(min-width: 1158px)"
            />

            <source
              srcset="
                ../img/traditional-2x.jpg 2x,
                ../img/traditional-1x.jpg 1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/traditional-2x.jpg 2x,
                ../img/traditional-1x.jpg 1x
              "
              media="(min-width: 320px)"
            />
            <img
              src="../img/traditional-1x.jpg"
              alt="traditional"
              width=""
              height=""
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="../img/manage-2x.jpg 2x, ../img/manage-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="../img/manage-2x.jpg 2x, ../img/manage-1x.jpg 1x"
              media="(mimanagen-width: 768px)"
            />
            <source
              srcset="manage
                ../img/manage-2x.jpg 2x,
                ../img/manage-1x.jpg 1x
              "
              media="(min-width: 320px)"
            />
            <img src="../img/manage-1x.jpg" alt="manage" width="" height="" />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="../img/body-2x.jpg 2x, ../img/body-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="../img/body-2x.jpg 2x, ../img/body-1x.jpg 1x"
              media="(min-widtbodyh: 768px)"
            />
            <source
              srcset="./img/body-2x.jpg 2x, ./img/body-1x.jpg 1x"
              media="(min-width: 320px)"
            />
            <img src="./img/body-1x.jpg" alt="body" width="" height="" />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="./img/discover-2x.jpg 2x, ./img/discover-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="./img/discover-2x.jpg 2x, ./img/discover-1x.jpg 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/discover-2x.jpg 2x, ./img/discover-1x.jpg 1x"
              media="(min-width: 320px)"
            />
            <img
              src="./img/discover-1x.jpg"
              alt="discover"
              width=""
              height=""
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="./img/mimino-2x.jpg 2x, ./img/mimino-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="./img/mimino-2x.jpg 2x, ./img/mimino-1x.jpg 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/mimino-2x.jpg 2x, ./img/mimino-1x.jpg 1x"
              media="(min-width: 320px)"
            />
            <img src="./img/mimino-1x.jpg" alt="mimino" width="" height="" />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="./img/organic-2x.jpg 2x, ./img/organic-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="./img/organic-2x.jpg 2x, ./img/organic-1x.jpg 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/organic-2x.jpg 2x, ./img/organic-1x.jpg 1x"
              media="(min-width: 320px)"
            />
            <img src="./img/organic-1x.jpg" alt="organic" width="" height="" />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="./img/brandbrand-2x.jpg 2x, ./img/brand-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="./img/brand-2x.jpg 2x, ./img/brand-1x.jpg 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/brand-2x.jpg 2x, ./img/brand-1x.jpg 1x"
              media="(min-width: 320px)"
            />
            <img src="./img/brand-1x.jpg" alt="brand" width="" height="" />
          </picture>
        </div>
      </div>
      <div class="marquee__inner">
        <div class="marquee__line">
          <picture>
            <source
              srcset="./img/harvest-2x.jpg 2x, ./img/harvest-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="./img/harvest-2x.jpg 2x, ./img/harvest-1x.jpg 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/harvest-2x.jpg 2x, ./img/harvest-1x.jpg 1x"
              media="(min-width: 320px)"
            />
            <img src="./img/harvest-1x.jpg" alt="harvest" width="" height="" />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="./img/turn-2x.jpg 2x, ./img/turn-1x.jpg 1x"
              media="(min-width: 1158px)"
            />

            <source
              srcset="./img/turn-2x.jpg 2x, ./img/turn-1x.jpg 1x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/turn-2x.jpg 2x, ./img/turn-1x.jpg 1x"
              media="(min-width: 320px)"
            />
            <img src="./img/turn-1x.jpg" alt="turn" width="" height="" />
          </picture>
        </div>
  </div>
  <script src="../js/covers.js"></script>
</section>
