<section id="faq" class="faq-section section-paddings container">
    <div class="section-faq-container">
        <h2 class="faq" id="faq">FAQ</h2>
        <div class="accordion-container">
            <ul class="accordion">
                <li class="accordion-item border-right js-enabled" id="ac-3">
                    <div class="accordion-header">
                        <h3 class="accordion-question">What programming languages ​​are most often used in your project?
                        </h3>
                        <button class="btn-svg-opn" id="ac-trigger-3" role="button" aria-controls="ac-panel-3" aria-disabled="false" aria-expanded="false">
                            <svg width="20" height="20">
                                <use href="../img/icons.svg#icon-arrow-down"></use>
                            </svg>
                            
                        </button>
                    </div>
                    <div class="accordion-content" id="ac-panel-3" role="region" aria-labelledby="ac-trigger-3">
                        <p class="accordion-answer">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) languages.</p>
                    </div>
                </li>
                <li class="accordion-item js-enabled" id="ac-4">
                    <div class="accordion-header">
                        <h3 class="accordion-question margin-left">What are the deadlines for the project?</h3>
                        <button class="btn-svg-opn" id="ac-trigger-4" role="button" aria-controls="ac-panel-4" aria-disabled="false" aria-expanded="false">
                            <svg width="20" height="20">
                                <use href="../img/icons.svg#icon-arrow-down"></use>
                            </svg>
                            
                        </button>
                    </div>
                    <div class="accordion-content" id="ac-panel-4" role="region" aria-labelledby="ac-trigger-4">
                        <p class="accordion-answer margin-left">The terms of project implementation depend to a large
                            extent on a
                            number of factors, such as the scope of the project,
                            its complexity, and the availability of resources. Determining exact deadlines is a
                            difficult
                            task, and it usually
                            occurs during the planning phase of the project.</p>
                    </div>
                </li>
                <li class="accordion-item border-right js-enabled" id="ac-5">
                    <div class="accordion-header">
                        <h3 class="accordion-question">What payment methods do you accept?</h3>
                        <button class="btn-svg-opn" id="ac-trigger-5" role="button" aria-controls="ac-panel-5" aria-disabled="false" aria-expanded="false">
                            <svg width="20" height="20">
                                <use href="../img/icons.svg#icon-arrow-down"></use>
                            </svg>
                            
                        </button>
                    </div>
                    <div class="accordion-content" id="ac-panel-5" role="region" aria-labelledby="ac-trigger-5">
                        <p class="accordion-answer">In the field of web development, there are various technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) languages.</p>
                    </div>
                </li>
                <li class="accordion-item js-enabled" id="ac-6">
                    <div class="accordion-header">
                    <h3 class="accordion-question margin-left">How can I contact you?</h3>
              <button class="btn-svg-opn" id="ac-trigger-6" role="button" aria-controls="ac-panel-6" aria-disabled="false" aria-expanded="false">
                            <svg width="20" height="20">
                                <use href="../img/icons.svg#icon-arrow-down"></use>
                            </svg>
                            
                        </button>
                    </div>
                    <div class="accordion-content" id="ac-panel-6" role="region" aria-labelledby="ac-trigger-6">
                        <p class="accordion-answer margin-left">In the field of web development, there are various
                            technologies and
                            programming languages. Typically, this includes a
                            combination of frontend (client side) and backend (server side) languages.</p>
                    </div>
                </li>
                <li class="accordion-item border-right js-enabled" id="ac-7">
                    <div class="accordion-header">
                        <h3 class="accordion-question">Do you provide advice or support?</h3>
                        <button class="btn-svg-opn" id="ac-trigger-7" role="button" aria-controls="ac-panel-7" aria-disabled="false" aria-expanded="false">
                            <svg width="20" height="20">
                                <use href="../img/icons.svg#icon-arrow-down"></use>
                            </svg>
                            
                        </button>
                        </div>
                        <div class="accordion-content" id="ac-panel-7" role="region" aria-labelledby="ac-trigger-7">
                            <p class="accordion-answer">The terms of project implementation depend to a large extent on a
                                number of factors, such as the scope of the project,
                                its complexity, and the availability of resources. Determining exact deadlines is a difficult
                                task, and it usually
                                occurs during the planning phase of the project.</p>
                        </div>
                        </li>
                        <li class="accordion-item js-enabled" id="ac-8">
                            <div class="accordion-header">
                                <h3 class="accordion-question margin-left fixed-widtg-faq">What does the process of developing a
                                    software product look like from idea to implementation?</h3>
                                <button class="btn-svg-opn" id="ac-trigger-8" role="button" aria-controls="ac-panel-8" aria-disabled="false" aria-expanded="false">
                                    <svg width="20" height="20">
                                        <use href="../img/icons.svg#icon-arrow-down"></use>
                                    </svg>
                                    
                                </button>
                            </div>
                            <div class="accordion-content" id="ac-panel-8" role="region" aria-labelledby="ac-trigger-8">
                                <p class="accordion-answer left-margin margin-left">The terms of project implementation depend to a large extent on a
                                    number of factors, such as the scope of the project,
                                    its complexity, and the availability of resources. Determining exact deadlines is a difficult
                                    task, and it usually
                                    occurs during the planning phase of the project.</p>
                            </div>
                        </li>
                        </ul>
                        </div>
                        </div>
                        </section>
