<!-- =============================================
!            HEADER
============================================ -->
<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-link" href="./index.html">
        <img
          class="header-logo"
          srcset="/img/header/logo.png 1x, /img/header/logo@2x.png 2x"
          src="/img/header/logo.png"
          alt="Jefferson"
          width="80"
          height="80"
        />
        jefferson*
      </a>

      <div class="nav-menu js-nav-menu">
        <p class="nav-menu-title">Menu</p>
        <ul class="menu-nav-list">
          <li class="menu-nav-list-item">
            <a class="menu-nav-link" href="#about-me">About me</a>
          </li>

          <li class="menu-nav-list-item">
            <a class="menu-nav-link" href="#benefits">Benefits </a>
          </li>

          <li class="menu-nav-list-item">
            <a class="menu-nav-link" href="#projects">Projects</a>
          </li>

          <li class="menu-nav-list-item">
            <a class="menu-nav-link" href="#faq"> FAQ</a>
          </li>
        </ul>
      </div>

      <a href="#order-project" class="go-order-project-link"
        >Order the project</a
      >
    </nav>

    <button class="burger-menu-btn js-burger-menu" type="button">
      <svg class="burger-menu-icon">
        <use href="/img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>

  <!-- =============================================
!            MOBILE MENU
============================================ -->
  <div class="mobile-menu-backdrop js-mobile-menu">
    <div class="mobile-menu container" id="mobile-menu">
      <button
        class="close-mobile-menu-btn js-close-mobile-menu-btn"
        type="button"
      >
        <svg class="close-mobile-menu-icon">
          <use href="/img/icons.svg#icon-icon-cross"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list js-mobile-menu-nav-list">
          <li class="mobile-menu-nav-list-item">
            <a class="mobile-menu-nav-link" href="#about-me">About me</a>
          </li>

          <li class="mobile-menu-nav-list-item">
            <a class="mobile-menu-nav-link" href="#benefits">Benefits </a>
          </li>

          <li class="mobile-menu-nav-list-item">
            <a class="mobile-menu-nav-link" href="#projects">Projects</a>
          </li>

          <li class="mobile-menu-nav-list-item">
            <a class="mobile-menu-nav-link" href="#faq"> FAQ</a>
          </li>
        </ul>
      </nav>
      <a href="#order-project" class="go-order-project-link"
        >Order the project</a
      >
    </div>
  </div>
</header>
