<section class="section-padding hero-section">
    <div class="container hero-container">
        <div class="hero-wrap">
            <h1 class="hero-title">Hello.<br>I’m Fullstack developer Lloyd Jefferson.</h1>
            <address class="hero-contacts">
                <ul class="hero-contacts-list">
                    <li class="hero-contacts-item">
                        <a rel="noopener noreferrer nofollow" target="_blank" class="hero-contacts-link link-ig" href="https://www.instagram.com/goitclub/">IG</a>
                    </li>
                    <li class="hero-contacts-item">
                        <a rel="noopener noreferrer nofollow" target="_blank" class="hero-contacts-link link-fb" href="https://www.facebook.com/goITclub/">FB</a>
                    </li>
                    <li class="hero-contacts-item">
                        <a rel="noopener noreferrer nofollow" target="_blank" class="hero-contacts-link link-yt" href="https://www.youtube.com/c/GoIT">YT</a>
                    </li>
                    <li class="hero-contacts-item">
                        <a rel="noopener noreferrer nofollow" target="_blank" class="hero-contacts-link link-gh" href="https://github.com/LazyStudent23/BraveCoders">GH</a>
                    </li>
                    <li class="hero-contacts-item">
                        <a rel="noopener noreferrer nofollow" target="_blank" class="hero-contacts-link link-mail" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                    </li>
                </ul>
            </address>
        </div>
        
    </div>
</section>