<section class="projects-section section-paddings" id="projects">
  <div class="project-container container">
    <h2 class="projects-title">Projects</h2>

    <div class="swiper" id="projects-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide projects-slide-wrap">
          <div class="slide-info-wrap">
            <ul class="tags-list">
              <li class="tags-list-item">#react</li>

              <li class="tags-list-item">#js</li>

              <li class="tags-list-item">#node js</li>

              <li class="tags-list-item">#git</li>
            </ul>

            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/LazyStudent23/BraveCoders"
              class="see-project-link"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>

          <div class="slide-img-wrap">
            <picture>
              <source
                srcset="
                  /img/projects/projects1.jpg    1x,
                  /img/projects/projects1@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="614"
                height="385"
              />

              <source
                srcset="
                  /img/projects/projects-mobile-1.jpg    1x,
                  /img/projects/projects-mobile-1@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="projects-img"
                src="/img/projects/projects-mobile-1.jpg"
                alt="Read journey project image."
              />
            </picture>
          </div>
        </div>

        <div class="swiper-slide projects-slide-wrap">
          <div class="slide-info-wrap">
            <ul class="tags-list">
              <li class="tags-list-item">#react</li>

              <li class="tags-list-item">#js</li>

              <li class="tags-list-item">#node js</li>

              <li class="tags-list-item">#git</li>
            </ul>

            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href=""
              class="see-project-link"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>

          <div class="slide-img-wrap">
            <picture>
              <source
                srcset="
                  /img/projects/projects2.jpg    1x,
                  /img/projects/projects2@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="614"
                height="385"
              />

              <source
                srcset="
                  /img/projects/projects-mobile-2.jpg    1x,
                  /img/projects/projects-mobile-2@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="projects-img"
                src="/img/projects/projects-mobile-2.jpg"
                alt="Read journey project image."
              />
            </picture>
          </div>
        </div>

        <div class="swiper-slide projects-slide-wrap">
          <div class="slide-info-wrap">
            <ul class="tags-list">
              <li class="tags-list-item">#react</li>

              <li class="tags-list-item">#js</li>

              <li class="tags-list-item">#node js</li>

              <li class="tags-list-item">#git</li>
            </ul>

            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href=""
              class="see-project-link"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>

          <div class="slide-img-wrap">
            <picture>
              <source
                srcset="
                  /img/projects/projects3.jpg    1x,
                  /img/projects/projects3@2x.jpg 2x
                "
                media="(min-width: 768px)"
                width="614"
                height="385"
              />

              <source
                srcset="
                  /img/projects/projects-mobile-3.jpg    1x,
                  /img/projects/projects-mobile-3@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="projects-img"
                src="/img/projects/projects-mobile-3.jpg"
                alt="Read journey project image."
              />
            </picture>
          </div>
        </div>
      </div>

      <div class="slider-nav-wrap">
        <div class="swiper-button-prev slide-btns">
          <svg class="slide-btn-icon">
            <use href="/img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>

        <div class="swiper-button-next slide-btns">
          <svg class="slide-btn-icon">
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
