<div class="container" id="projects">
    <section class="section-paddings">
        <h1 class="section-title">Projects</h1>
        <ul>
            <li class="project-container">
                <div class="text-project-info">
                    <ul class="tech-skills">
                        <li class="first-tech">
                            <span>#react</span>
                        </li>
                        <li class="second-tech">
                            <span>#js</span>
                        </li>
                        <li class="third-tech">
                            <span>#node js</span>
                        </li>
                        <li class="fourth-tech">
                            <span>#git</span>
                        </li>
                    </ul>
                    <h2 class="secondary-title">Programming Across Borders: Ideas, Technologies, Innovations</h2>
                    <button class="project-btn">See project</button>
                </div>
                <picture>
                    <source
                    media="(min-width: 1280px)"
                    srcset="../img/projects-img/desk-1-projects-х1.png 1x,
                    ../img/projects-img/desk-1-projects-х2.png"/>
                    <source
                    media="(min-width: 768px) and (max-width: 1279px)"
                    srcset="../img/projects-img/tabl-1-projects-х1.png 1x,
                    ../img/projects-img/tabl-1-projects-х2.png 2x"/>
                <img srcset="../img/projects-img/mobile-1-projects-х1.png x1,
                ../img/projects-img/mobile-1-projects-х2.png x2"
                src="../img/projects-img/mobile-1-projects-х1.png" alt="Read journey">
                </picture>
            </li>
            <li class="project-container">
                <div class="text-project-info">
                    <ul class="tech-skills">
                        <li class="first-tech">
                            <span>#react</span>
                        </li>
                        <li class="second-tech">
                            <span>#js</span>
                        </li>
                        <li class="third-tech">
                            <span>#node js</span>
                        </li>
                        <li class="fourth-tech">
                            <span>#git</span>
                        </li>
                    </ul>
                    <h2 class="secondary-title">Programming Across Borders: Ideas, Technologies, Innovations</h2>
                    <button class="project-btn">See project</button>
                </div>
                <picture>
                    <source media="(min-width: 1280px)" 
                    srcset="../img/projects-img/desk-2-projects-х1.png 1x,
                    ../img/projects-img/desk-2-projects-х2.png" />
                    <source media="(min-width: 768px) and (max-width: 1279px)" 
                    srcset="../img/projects-img/tabl-2-projects-х1.png 1x,
                    ../img/projects-img/tabl-2-projects-х2.png 2x" />
                    <img srcset="../img/projects-img/mobile-2-projects-х1.png x1,
                    ../img/projects-img/mobile-2-projects-х2.png x2" 
                    src="../img/projects-img/mobile-2-projects-х1.png"
                    alt="Pet love">
                </picture> >
            </li>
            <li class="project-container">
                <div class="text-project-info">
                    <ul class="tech-skills">
                        <li class="first-tech">
                            <span>#react</span>
                        </li>
                        <li class="second-tech">
                            <span>#js</span>
                        </li>
                        <li class="third-tech">
                            <span>#node js</span>
                        </li>
                        <li class="fourth-tech">
                            <span>#git</span>
                        </li>
                    </ul>
                    <h2 class="secondary-title">Programming Across Borders: Ideas, Technologies, Innovations</h2>
                    <button class="project-btn">See project</button>
                </div>
                <picture>
                    <source media="(min-width: 1280px)" 
                    srcset="../img/projects-img/desk-2-projects-х1.png 1x,
                    ../img/projects-img/desk-2-projects-х2.png" />
                    <source media="(min-width: 768px) and (max-width: 1279px)" 
                    srcset="../img/projects-img/tabl-2-projects-х1.png 1x,
                    ../img/projects-img/tabl-2-projects-х2.png 2x" />
                    <img srcset="../img/projects-img/mobile-2-projects-х1.png x1,
                    ../img/projects-img/mobile-2-projects-х2.png x2" 
                    src="../img/projects-img/mobile-2-projects-х1.png"
                    alt="Vocab Builder">
                </picture>
            </li>
        </ul>
    </section>
</div>