<section class="section-paddings">
  <div class="container" id="projects"></div>
  <div class="section-container">
    <h2 class="section-title">Projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="project-container swiper-slide">
          <div class="text-project-info">
            <ul class="tech-skills">
              <li class="first-tech">
                <span>#react</span>
              </li>
              <li class="second-tech">
                <span>#js</span>
              </li>
              <li class="third-tech">
                <span>#node js</span>
              </li>
              <li class="fourth-tech">
                <span>#git</span>
              </li>
            </ul>
            <h2 class="secondary-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <button class="project-btn">
              <a
                href="https://github.com/LazyStudent23/BraveCoders"
                target="_blank"
                >See project</a
              >
            </button>
          </div>
          <picture>
            <source
              srcset="
                ../img/projects-img/desk-1-projects-х1.png 1x,
                ../img/projects-img/desk-1-projects-х2.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../img/projects-img/tabl-1-projects-х1.png 1x,
                ../img/projects-img/tabl-1-projects-х2.png 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <img
              src="../img/projects-img/mobile-1-projects-х1.png"
              alt="Read journey"
            />
          </picture>
        </li>
        <li class="project-container swiper-slide">
          <div class="text-project-info">
            <ul class="tech-skills">
              <li class="first-tech">
                <span>#react</span>
              </li>
              <li class="second-tech">
                <span>#js</span>
              </li>
              <li class="third-tech">
                <span>#node js</span>
              </li>
              <li class="fourth-tech">
                <span>#git</span>
              </li>
            </ul>
            <h2 class="secondary-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <button class="project-btn">
              <a
                href="https://github.com/LazyStudent23/BraveCoders"
                target="_blank"
                >See project</a
              >
            </button>
          </div>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/projects-img/desk-2-projects-х1.png 1x,
                ../img/projects-img/desk-2-projects-х2.png
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ../img/projects-img/tabl-2-projects-х1.png 1x,
                ../img/projects-img/tabl-2-projects-х2.png 2x
              "
            />
            <img
              src="../img/projects-img/mobile-2-projects-х1.png"
              alt="Pet love"
            />
          </picture>
          >
        </li>
        <li class="project-container swiper-slide">
          <div class="text-project-info">
            <ul class="tech-skills">
              <li class="first-tech">
                <span>#react</span>
              </li>
              <li class="second-tech">
                <span>#js</span>
              </li>
              <li class="third-tech">
                <span>#node js</span>
              </li>
              <li class="fourth-tech">
                <span>#git</span>
              </li>
            </ul>
            <h2 class="secondary-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <button class="project-btn">
              <a
                href="https://github.com/LazyStudent23/BraveCoders"
                target="_blank"
                >See project</a
              >
            </button>
          </div>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/projects-img/desk-3-projects-х1.png 1x,
                ../img/projects-img/desk-3-projects-х2.png
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ../img/projects-img/tabl-3-projects-х1.png 1x,
                ../img/projects-img/tabl-3-projects-х2.png 2x
              "
            />
            <img
              src="../img/projects-img/mobile-3-projects-х1.png"
              alt="Vocab Builder"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="">
      <div class="swiper-button-prev">Left Arrow</div>
      <div class="swiper-button-next">Right Arrow</div>
    </div>
  </div>
</section>
