<section class="review section-paddings">
  <div class="review-section container">
    <h2 class="review-section-header">Reviews</h2>
    <div class="review-swiper">
      <ul class="review-card-list swiper-wrapper ">
        
      </ul>
      <div class="swipe-button-container ">
        <div class="swiper-button-prev">
          <svg class="slide-btn-icon review-slide-btn"></svg>
            <use href="/img/icons.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="slide-btn-icon review-slide-btn"></svg>
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    
  </div>
</section>
