<footer class="footer-section section-padding bg-img" id="order-project">
  <div class="container footer-container">
    <form class="footer-form js-footer-form">
      <div class="header-img-wrapper">
        <picture>
          <source
            srcset="/img/footer/desk-form.png 1x, /img/footer/desk-form@2x.png 2x"
            media="(min-width: 1280px)"
            width="70"
            height="70"
          />
          <source
            srcset="/img/footer/tabl-form.png 1x, /img/footer/tabl-form@2x.png 2x"
            media="(min-width: 768px)"
            width="70"
            height="70"
          />
          <source
            srcset="/img/footer/mob-form.png 1x, /img/footer/mob-form@2x.png 2x"
            media="(min-width: 375px)"
            width="44"
            height="44"
          />

          <img
            class="lloyd-form-img"
            src="/img/footer/mob-form.png"
            alt="Lloyd Jefferson"
            width="44"
            height="44"
          />
        </picture>
        <h2 class="footer-header">
          LET'S <span class="accent">WORK</span>
        </h2>
      </div>
    <h2 class="footer-header">TOGETHER</h2>
    <div class="tablet-wrapper"><div class="form-wrapper">
        <label>
          <input
            class="email-field js-email-field"
            type="email"
            name="userEmail"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            placeholder="clients@gmail.com"
          />
          <p class="success-email js-success-email is-hidden">Succes!</p>
          <p class="invalid-email js-invalid-email is-hidden">Invalid email, try again</p>
        </label>  
        <label>
          <input
            class="comment-field js-comment-field"
            name="userComment"
            required
            placeholder="comments"
          ></input>
        </label>
      </div>
      <button class="form-button js-form-button" type="submit">Send</button></div>
    </form>
    <address class="footer-address"></address>
    <ul class="footer-address-list">
      <li class="address-item">
        <a class="address-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="address-item">
        <a class="address-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>
</footer>


