
.section-paddings {
  padding-top: 32px;
  padding-bottom: 32px;
}

.content {
  overflow: hidden;
  position: relative;
}

.covers-section {
  margin-bottom: 64px; 
}

.marquee {
  background-image: url('../img/background-cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  left: 0;
  overflow: hidden;
  font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.marquee__inner {
  height: 220px; 
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  width: 282.29px; 
  height: 162.94px; 
  flex-shrink: 0;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.marquee__line img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.marquee__line.animate {
  animation: marqueeLine 5s ease-in-out infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(-180%);
  }
}

/* Стили для планшетов */
@media (min-width: 768px) and (max-width: 1439px) {
  .marquee__inner {
    height: 220px; 
    top: 6858px; 
  }
  
  .marquee__line {
    height: 314px; 
    top: 206px; 
    left: 181.8px; 
  }
}

/* Стили для десктопов */
@media (min-width: 1440px) {
 
}