body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  overflow: hidden;
  position: relative;
}

.marquee {
  background-image: url('../img/background-cover.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  position: relative;
  left: 0;
  overflow: hidden;
  font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 14px; 
  text-transform: uppercase;
}

.marquee__inner {
   height: 90vh; 
   display: flex;
   transform: rotate(16deg); 
}

.marquee__line {
  flex-shrink: 0;
  margin-right: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.marquee__line.animate {
  animation: marqueeLine 5s ease-in-out infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }
  
  to {
    transform: translateX(-180%);
  }
}

/* Стили для планшетов и более крупных экранов */
@media (min-width: 768px) {
  
  .marquee__inner {
    height: 570px; 
  }

  .marquee__line {
    margin-right: 40px; 
  }
}

/* Стили для крупных экранов */
@media (min-width: 1440px) {

  .marquee__inner {
    height: 570px; 
  }
}
