.FAQ {
    font-family: Inter Tight,sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.02em;
    color: #fafafa66;
    margin-bottom: 32px;
    transition: color .8s ease-in-out
}



.accordion-question {
    font-family: Inter Tight,sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -.02em;
    color: #fafafa;
    max-width: 289px
}

.accordion-content {
    max-width: 289px;
    width: 100%
}

.accordion-answer {
    font-family: Inter Tight,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.02em;
    color: #fafafa99
}

.btn-svg-opn {
    border: 1px solid rgba(250,250,250,.2);
    border-radius: 100px;
    padding: 7.5px 7px 7px 6.5px;
    width: 34px;
    height: 34px;
    background-color: transparent;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    transition: box-shadow .5s ease-in-out,transform .5s ease-in-out,background-color .5s ease-in-out
}

.section-faq-container {
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px
}

.accordion-item {
    border-top: rgba(250,250,250,.2) 1px solid;
    border-bottom: rgba(250,250,250,.2) 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 343px;
    width: 343px
}

.accordion-header {
    display: flex
}

.accordion {
    display: flex;
    flex-wrap: wrap
}

.accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out,opacity .5s ease-in-out;
    max-width: 343px;
    width: 100%
}

.accordion-item.is-active .accordion-content {
    max-height: 500px;
    opacity: 1
}

.accordion-question {
    font-size: 20px;
    color: #fafafa;
    transition: font-size .5s ease-in-out,color .5s ease-in-out,text-shadow .5s ease-in-out
}

.accordion-item.is-active .accordion-question {
    font-size: 20px;
    color: #fff;
}

.btn-svg-opn:hover {
    background-color: #2d2e30
}

.rotate {
    transform: rotate(180deg)
}

.btn-svg-opn svg {
    fill: none;
    stroke: #fafafa;

}

.btn-svg-opn:hover svg {
    stroke: #2d2e30; 
}

@media screen and (min-width: 768px) {
    .section-faq-container {
        max-width:704px;
        width: 100%
    }

    .accordion-question {
        max-width: 574px;
        width: 100%
    }

    .accordion-item {
        padding-top: 32px;
        padding-bottom: 0;
        max-width: 704px;
        width: 100%
    }

    .accordion-content {
        max-width: 656px;
        width: 100%;
        margin-top: 26px;
        margin-bottom: 24px
    }
}

@media screen and (min-width: 1440px) {
    .border-right {
        border-right:rgba(250,250,250,.2) 1px solid
    }

    .section-faq-container {
        max-width: 1440px;
        width: 100%;
        padding: 0
    }

    .accordion-item {
        max-width: 688px
    }

    .btn-svg-opn {
        margin-right: 32px
    }

    .margin-left {
        margin-left: 32px
    }

    .fixed-widtg-faq {
        max-width: 485px;
        width: 100%
    }

    .left-margin {
        margin-left: 32px
    }

    .accordion-content {
        max-width: 574px;
        width: 100%
    }
}