
.hero-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/hero-section/hero-bg-mobile.png);
  margin: 0 auto;
  padding-top: 281px;
  padding-bottom: 32px;
}

@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .hero-section{
    background-image: url(../img/hero-section/hero-bg-mobile-2x.png);
  }
}

.hero-wrap {
  padding-top: 169px;
  padding-bottom: 32px;
  
}

.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  max-width: 343px;
  margin-bottom: 212px;
}

/* .hero-contacts {
} */

.hero-contacts-list {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: row;
  gap: 4px;
  justify-content: flex-end;
}

/* .hero-contacts-item {
} */

.hero-contacts-link:hover {
  border: 1px solid #fafafa;
}

.hero-contacts-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  line-height: 17px;
  font-style: normal;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  height: 37px;
  display: block;
}

.link-ig {
    padding: 10px 12px;
}

.link-fb {
    padding: 10px;
}

.link-yt {
    padding: 10px 11px;
}

.link-gh {
    padding: 10px 8px;

}

.link-mail {
    padding: 10px 12px;
}



@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(/img/hero-section/hero-bg-tabl.png);
    padding-top: 300px;
  }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
      .hero-section {
        background-image: url(/img/hero-section/hero-bg-tabl-2x.png);
      }
    }

  .hero-title {
    font-size: 90px;
    max-width: 632px;
    margin-bottom: 187px;
    line-height: 90px;
  }

  .hero-wrap {
    padding-top: 188px;
    padding-bottom: 32px;
  }

  .hero-contacts-link {
    line-height: 19px;
    font-size: 16px;
    height: 55px;
  }

  .link-ig {
      padding: 18px 20px;
  }

  .link-fb {
      padding: 18px 17px;
  }

  .link-yt {
      padding: 18px;
  }

  .link-gh {
      padding: 18px 16px;

  }

  .link-mail {
      padding: 18px 24px;
  }

  .hero-contacts-list{
    gap: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(/img/hero-section/hero-bg-desk.png);
    padding-left: 146px;
  }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
      .hero-section {
        background-image: url(/img/hero-section/hero-bg-desk-2x.png);
      }
    }

  .hero-title {
    max-width: 1084px;
    margin-bottom: 243px;
  }

  /* .hero-contacts-link {
  } */



  
}
