/* ------------Mobile Styles Section ------------ */
.review {
  position: relative;
}

.review-swiper {
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.review-card-list {
  align-items: center;
  padding-bottom: 84px;
  flex-wrap: nowrap;
}

.review-section-header {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
  max-width: 344px;
  min-height: 302px;
}

.review-card-avatar {
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviewer-name {
  font-weight: 600;
  font-size: 20px;
}

.review-content {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  height: 100%;
}

.not-found-content {
  font-weight: 500;
  font-size: 30px;
  color: #ff7f08;
  height: 100%;
}

.swipe-button-container {
  position: absolute;
}

.swipe-button-container .swiper-button-prev {
  top: -25px;
  left: 129px;
}

.swipe-button-container .swiper-button-next {
  top: -25px;
  left: 194px;
}

.review-section {
  display: flex;
  flex-direction: column;
}

.swipe-button-container .swiper-button-next:after {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  border-radius: 60px;
  padding: 14px;
  min-width: 52px;
  height: 52px;
}

.swipe-button-container .swiper-button-prev:after {
  content: '';
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  border-radius: 60px;
  padding: 14px;
  min-width: 52px;
  height: 52px;
}

/* ------------Tablet Styles Section ------------ */

@media screen and (min-width: 768px) {
  .review-section .swiper-button-prev:after {
    min-width: 68px;
    height: 68px;
  }

  .review-card-list {
    padding-bottom: 100px;
  }

  .review-section .swiper-button-next:after {
    min-width: 68px;
    height: 68px;
  }

  .swipe-button-container .swiper-button-prev {
    top: -35px;
    left: 295px;
  }

  .swipe-button-container .swiper-button-next {
    top: -35px;
    left: 380px;
  }
}

/* ------------Desktop Styles Section ------------ */

@media screen and (min-width: 1440px) {
  .review-section-card {
    width: 322px;
    height: 100%;
  }

  .review-section .swiper-button-prev:after {
    min-width: 68px;
    height: 68px;
  }

  .review-section .swiper-button-next:after {
    min-width: 68px;
    height: 68px;
  }

  .review-swiper {
    position: relative;
  }

  .swipe-button-container {
    position: absolute;
  }

  .swipe-button-container .swiper-button-prev {
    left: 630px;
  }

  .swipe-button-container .swiper-button-next {
    left: 720px;
  }
}
