/* ------------Mobile Styles Section ------------ */
.review {
  position: relative;
  padding-bottom: 164px;
}

.review-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.review-card-list {
  align-items: center;
  padding-bottom: 84px;
  flex-wrap: nowrap;
}

.review-section-header {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.swiper-slide {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
  max-width: 344px;
  max-height: 302px;
}

.review-card-avatar {
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviewer-name {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 8px;
}

.review-content {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  height: 100%;
}

.not-found-content {
  font-weight: 500;
  font-size: 30px;
  color: #ff7f08;
  height: 100%;
}

.swipe-button-container {
  position: absolute;
}

.swipe-button-container .swiper-button-prev {
  top: -25px;
  left: 94px;
}

.swipe-button-container .swiper-button-next {
  top: -25px;
  left: 174px;
}

.review-section {
  display: flex;
  flex-direction: column;
}

.review-slide-btn .swiper-button-icon {
  display: flex;
  stroke: #fafafa;
  justify-content: center;
  align-items: center;
  position: absolute;
  fill: transparent;
  max-width: 32px;
  max-height: 32px;
}

.swipe-button-container .swiper-button-next::after,
.swipe-button-container .swiper-button-prev::after {
  content: '';
}

.review-slide-btn {
  cursor: pointer;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  border-radius: 60px;
  padding: 14px;
  min-width: 68px;
  min-height: 68px;
  transition: border 250ms linear;
}

.review-slide-btn .swiper-button-icon {
  transition: stroke 250ms linear;
}

.review-slide-btn:hover {
  border: 1px solid rgba(255, 127, 8, 0.5);
}

.review-slide-btn:hover .swiper-button-icon {
  stroke: #ff7f08;
}

/* ------------Tablet Styles Section ------------ */

@media screen and (min-width: 768px) {
  .review-section-card {
    width: 322px;
    min-height: 302px;
  }
  .review-section .swiper-button-prev:after {
    min-width: 68px;
    height: 68px;
  }

  .review-card-list {
    padding-bottom: 100px;
  }

  .review-section .swiper-button-next:after {
    min-width: 68px;
    height: 68px;
  }

  .swipe-button-container .swiper-button-prev {
    top: -35px;
    left: 270px;
  }

  .swipe-button-container .swiper-button-next {
    top: -35px;
    left: 365px;
  }
}

/* ------------Desktop Styles Section ------------ */

@media screen and (min-width: 1440px) {
  .review-section-card {
    min-height: 302px;
  }

  .review-section .swiper-button-prev:after {
    min-width: 68px;
    height: 68px;
  }

  .review-section .swiper-button-next:after {
    min-width: 68px;
    height: 68px;
  }

  .review-swiper {
    position: relative;
  }

  .swipe-button-container {
    position: absolute;
  }

  .swipe-button-container .swiper-button-prev {
    top: -55px;
    left: 605px;
  }

  .swipe-button-container .swiper-button-next {
    top: -55px;
    left: 700px;
  }
}
