/* ------------Mobile Styles Section ------------ */
.review-section {
  height: 100%;
}

.review-card-list {
  display: flex;
}

.review-section-header {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-top: 64px;
  margin-bottom: 32px;
}

.swiper-slide {
  display: flex;
  max-width: 295px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  height: 100%;
}

.review-card-avatar {
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviewer-name {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

.review-content {
  font-weight: 500;
  color: rgba(250, 250, 250, 0.6);
  height: 100%;
}

.swipe-button-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.swiper-container {
  height: 100%;
}

.review-swiper {
  display: flex;
}

.review-section {
  display: flex;
  flex-direction: column;
}

.swipe-button-container {
  display: flex;
  gap: 16px;
}

.review-section .swiper-button-next:after {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
}

.review-section .swiper-button-prev:after {
}

/* ------------Tablet Styles Section ------------ */

@media screen and (min-width: 768px) {
  .swipe-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .review-card-list {
    gap: 16px;
  }
}

/* ------------Desktop Styles Section ------------ */

@media screen and (min-width: 1440px) {
  .review-section-card {
    width: 322px;
    height: 100%;
  }
}
