@import './reset.css';
@import './header.css';
@import './hero.css';
@import './about-me.css';
@import './benefits.css';
@import './projects.css';
@import './faq.css';
@import './covers.css';
@import './reviews.css';
@import './work-together.css';